<% @page_title = "Delete Listing" %>
<% @page_desc = "This area is to delete a listing" %>

<div class="container">
<%= form_for(@listing, :url => listing_path(@listing, :section_id => @section.id), :method => 'delete',html: {class: 'form-horizontal'}) do |f| %>
	<form>
		<p class="text-muted"><h4>Are you sure you want to permanently delete <span class="text-danger"><%= f.object.name %></span>?</h4></p>
		<%= link_to 'Cancel', listings_path(:section_id => @section.id), class: "btn btn-default" %>
		<%= f.submit("Delete Listing", :class => 'btn btn-danger') %>
	</form>
<% end %>
</div>