<% @page_title = "Update Listing" %>
<% @page_desc = "This area is to update a listing" %>

<div class="container">
  <div class="row">
	<%= form_for(@listing, 
		:url => listing_path(@listing, :section_id => @section.id), 
		html: {:multipart => true , :class => 'form-horizontal'}) do |f| %>
	    <%= render(:partial => 'form', :locals => {:f => f}) %> 
	<% end %>
  </div>
</div>