<% @page_title = "Delete Sub Category" %>

<%= link_to '<< Back to Sub Categories', sections_path(:category_id => @category.id) , class: "btn btn-link" %>

<div class="page-header">
  <h2>Delete Sub Category</h2>
</div>

<%= form_for(@section, :url => section_path(@section, :category_id => @category.id), :method => 'delete',html: {class: 'form-horizontal'}) do |f| %>
	<div class="container">
		<form>
			<p class="text-warning"><h3>Are you sure you want to permanently delete this sub category?</h3></p>
			<p class="text-info"><h3><%= f.object.name %></h3></p>
			<%= f.submit("Delete Sub Category", :class => 'btn btn-danger') %>
		</form>
	</div>
<% end %>