<% @page_title = "Delete Sub Category" %>
<% @page_desc = "This area is to delete a Sub Category" %>

<%= form_for(@section, :url => section_path(@section, :category_id => @category.id), :method => 'delete',html: {class: 'form-horizontal'}) do |f| %>
	<div class="container">
		<form>
			<p class="text-muted"><h4>Are you sure you want to permanently delete <span class="text-danger"><%= f.object.name %></span>?</h4></p>
			<%= link_to 'Cancel', sections_path(:category_id => @category.id), class: "btn btn-default" %>
			<%= f.submit("Delete Sub Category", :class => 'btn btn-danger') %>
		</form>
	</div>
<% end %>