<% @page_title = "New Sub Category" %>

<%= link_to '<< Back to Sub Categories', sections_path(:category_id => @category.id), class: "btn btn-link" %>

<div class="page-header">
  <h2>Create Sub Category</h2>
</div>

<%= form_for(@section, :url => sections_path(:category_id => @category.id), html: {class: 'form-horizontal'}) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>