<% @page_title = "Delete Category" %>
<% @page_desc = "This area is to delete a category" %>

<%= link_to '<< Back to Categories', categories_path, class: "btn btn-link" %>


<%= form_for(@category, :method => 'delete',html: {class: 'form-horizontal'}) do |f| %>
	<div class="container">
		<form>
			<p class="text-warning"><h3>Are you sure you want to permanently delete this category?</h3></p>
			<p class="text-info"><h3><%= f.object.name %></h3></p>
			<%= f.submit("Delete Category", :class => 'btn btn-danger') %>
		</form>
	</div>
<% end %>