<% @page_title = "Create Categories" %>
<% @page_desc = "This area is to create a new category" %>

<div class="container">
	<%= form_for(@category, html: {class: 'form-horizontal'}) do |f| %>
	    <%= render(:partial => 'form', :locals => {:f => f}) %>
	<% end %>
</div>
