<div class="container clearfix">
	<footer>
		<div class="text-center center-block">
			<span class="copyright">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Astro Marketplace. All Rights Reserved.</span>	
		</div>
	</footer>
</div>	