<footer>
	<div class="container clearfix">
		<div class="text-center center-block">
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:sutirtha.c@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>			
		</div>
	</div>	
</footer>